# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
.env
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/   

# Foders

database/